/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
   margin: 0;
   padding: 0;
   font-family: 'Nobile', sans-serif;;
   background-color: #F5F5DC;
   height: 100%;
 }


 #root {
   height: 100%;
 }

 #root > div {
   height: 100%;
 }

 body {
   height: 100%;
 }

 a {
   text-decoration: none;
   color: #FFBE00;
 }

 button {
   cursor: pointer;
 }

 button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #FFBE00;
 }

 video {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   transform: translateX(-50%) translateY(-50%);
   background: url('/assets/beer3.mp4') no-repeat;
   background-size: cover;
   transition: 1s opacity;
 }

 .home-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.home-container > a {
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

 #signin-username, #signin-password, #signup-username,
  #signup-password, #signup-location {
   height: 60px;
   margin-bottom: 15px;
   font-size: 18px;
   text-indent: 10px;
 }


 #signin-password, #signup-location {
   margin-bottom: 20px;
 }

.errors {
  color: red;
  font-weight: bold;
 }

.sign-in-container, .sign-up-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("beer-back.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
}


.sign-in-form, .sign-up-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 50%;
  background-color: white;
}

.sign-up-form {
  height: 60%;
  width: 23%;
}

.sign-in-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.sign-in-button, .demo-button, .signup-button {
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-family: 'Nobile', sans-serif;
  width: 100%;
  height: 50px;
  background-color: #FFBE00;
}

.sign-up-button {
  margin: 10px auto 0 auto;
  width: 40%;
}

.sign-in-title {
  font-family: 'Nobile', sans-serif;
  font-size: 38px;
  color: #FFBE00;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 15px;
}

.or {
  margin: 8px auto;
}

.dif-member {
  margin: 0 10px 0 0;
}

.location {
  margin-bottom: 10px;
  font-size: 18px;
}

.member {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

.signup-image-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.signup-image {
  width: 80px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 15px;
}

.upload-button {
  width: 90%;
  background-color: #FFBE00;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  height: 30px;
  margin-right: 20px;
}
