/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
 }

 a {
   text-decoration: none;
   color: gold;
 }

 button {
   cursor: pointer;
 }

 video {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   transform: translateX(-50%) translateY(-50%);
   background: url('/assets/beer3.mp4') no-repeat;
   background-size: cover;
   transition: 1s opacity;
 }

.errors {
  color: red;
  font-weight: bold;
 }

.title{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
 }

.logo {
  font-size: 160px;
  color: gold;
  font-family: sans-serif;
  font-weight: bold;
}

.tagline {
  color: white;
  font-size: 30px;
  position: relative;
  bottom: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-signin-button, .main-signup-button {
  color: white;
  font-weight: bold;
  border: none;
  font-size: 20px;
  background-color: transparent;
  width: 120px;
  height: 50px;
  margin-top: 10px;
}

.main-signup-button {
  margin: 10px 10px 0 20px;
  border: 2px solid white;
  border-radius: 4px;
}

#signin-username, #signin-password, #signup-username,
 #signup-password, #signup-location {
  height: 100px;
  margin-bottom: 15px;
  font-size: 18px;
}


.sign-in-container, .sign-up-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("beer-back.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
}


.sign-in-form, .sign-up-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 40%;
  background-color: white;
}

.sign-up-form {
  height: 50%;
}


#signin-password, #signup-location {
  margin-bottom: 20px;
}

.sign-in-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.sign-in-button, .demo-button, .signup-button {
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  width: 100%;
  height: 80px;
  background-color: gold;
}

.sign-in-button:hover, .demo-button:hover, .signup-button:hover,
.main-signup-button:hover, .main-signin-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: black;
}

.sign-up-button {
  margin: 0 auto 0 auto;
  width: 40%;
}


.sign-in-title {
  font-family: sans-serif;
  font-size: 38px;
  color: gold;
  margin: 0 auto;
  font-weight: bold;
}

.or {
  margin: 5px auto;
}

.dif-member {
  margin: 0 10px 0 0;
}

.member {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}
