.all-beers {
  width: 60%;

  justify-content: center;
  margin: 30px auto;
}

.main-beer-show {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.beer-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.beer-title {
  font-size: 32px;
  font-weight: bold;
  color: gold;
  cursor: pointer;
}

.beer-title:hover {
  color: black;
}


.beer-brewery {
  margin-bottom: 20px;
}

.beer-style {
  margin-bottom: 20px;
}

.title-and-add {
  display: flex;
  justify-content: space-between;
}

.beer-show{
  background-color: white;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.top-beer-show {
  display: flex;
}

.bottom-beer-show{
  display: flex;
  margin: 0 0 30px 140px;
}

.beer-abv {
  margin-right: 20px;
}

.beer-image {
  margin-left: 30px;
  width: auto;
  height: 200px;
  margin: 15px;
}

.beer-image-container {
  display: flex;
  justify-content: center;
}

.beer-plus-img {
  font-size: 56px;
  background: transparent;
  cursor: pointer;
  color: gold;
}

.beer-plus-img:hover {
  color: black;
}
