.all-beers {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #F5F5DC;
}

.all-the-beers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}

.main-beer-show {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  min-width: 450px;
}

.beer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.beer-title {
  font-size: 32px;
  font-weight: bold;
  color: #FFBE00;
  cursor: pointer;
}

.beer-title:hover {
  color: black;
}


.beer-brewery {
  margin-bottom: 20px;
}

.beer-style {
  margin-bottom: 20px;
}

.title-and-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.beer-show{

  display: flex;
  width: 50%;
  margin-bottom: 40px;
  margin: 40px auto 40px auto;
}

.top-beer-show {
  display: flex;
}

.bottom-beer-show{
  display: flex;
  margin: 0 auto 30px auto;
  justify-content: space-between;
}

.beer-abv {
  margin-right: 20px;
}

.beer-image {
  margin-left: 30px;
  width: auto;
  height: 200px;
  margin: 15px;
}

.beer-image-container {
  display: flex;
  justify-content: center;
}

.beer-plus {
  display: flex;
  position: relative;
}

.dont-show {
  display: none;
}

.beer-plus-img {
  font-size: 56px;
  background: transparent;
  cursor: pointer;
  color: #FFBE00;
}

.beer-plus-img:hover {
  color: black;
}

.error {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 60px;
  font-weight: bold;
  color: #FFBE00;
}

.add-beer-show {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 10px;
}


.back-to-beers {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  z-index: 1;
}

.back-to-beers:hover {
  color: black;
}

.link {
  font-weight: bolder;
  padding-bottom: 20px;
}

.link:hover {
  color: black;
}

.delete {
  padding: 0 20px;
  cursor: pointer;
}

.delete:hover {
  color: #FFBE00;
}

.edit-beer-link {
  font-weight: bold;
}

.edit-beer-link:hover {
  color: black;
}

.beer-abv-ibu{
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 10px;
}

.edit-delete{
  margin: 0 0 0 100px;;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.load-message {
  margin-bottom: 50px;
}

.beers-index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.no-beers-index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beer-show-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beer-no-show-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back-to-beers-link:hover {
  color: black;
}

.style-and-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
