.new-checkin-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
}

#checkin-review {
  margin-top: 10px;
  height: 40px;
  width: 70%;
  font-size: 18px;
}

.checkin-rating-title {
  margin-bottom: 5px;
}

#checkin-rating {
  margin-bottom: 20px;
}

#checkin-location {
  height: 40px;
  width: 50%;
  margin: 10px auto 20px auto;
  font-size: 18px;
}

.checkin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 10px;
  width: 50%;
  align-items: center;
  align-content: center;
}

.new-checkin-title {
  color: #FFBE00;
  font-size: 40px;
  font-weight: bold;
}

.checkin-text {
  color: #FFBE00;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-checkin-image-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.new-checkin-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.new-checkin-button, .cancel-checkin-button {
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-family: 'Nobile', sans-serif;
  width: 80%;
  height: 50px;
  background-color: #FFBE00;
}

.cancel-checkin-button {
  margin: 15px 0;
  height: 35px;
  width: 30%;
}

.new-checkin-image {
  height: 80px;
  width: auto;
  margin-bottom: 10px;
}

.black-beer, .gold-beer {
  height: 60px;
  width: auto;
  margin-right: 4px;
}
