.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  align-items: center;
  background: #FAC937;
  max-height: 50px;
  font-size: 16px;
}

.footer > a {
  margin: 20px 40px;
  font-weight: bold;
  color: white;
}

.footer > a:hover {
  text-shadow: 2px 2px black;
}

.footer > p {
  color: black;
  font-weight: normal;
  margin: 20px 40px;
}
