.unliked-cheers-button {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  align-content: center;
}

.liked-cheers-button{
  background-color: #FFBE00;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  display: flex;
  align-items: center;
  align-content: center;
}

.unliked-cheers-button img, .liked-cheers-button img {
  margin-right: 5px;
}

.liked-cheers-button:hover {
  background-color: white;
}


.cheers-pic{
  width: 30px;
  height: 30px;
}
