.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #FAC937;
  height: 50px;
  align-items: center;
  padding: 10px 150px 10px 150px;
  margin: 0;
  color: white;
}

.nav-title {
  font-size: 28px;
  font-weight: bold;
  margin: 2px;
}

.nav-tagline{
  margin: 1px;
  font-size: 12px;
}
.left-side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right-side-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.nav-explore {
  font-weight: bold;
  margin-right: 30px;
  padding-right: 20px;
  font-size: 20px;
  border-right: 2px solid black;
  cursor: pointer;
}

.nav-explore:hover, .left-side-nav:hover {
  text-shadow: 2px 2px black;

}

.nav-profile {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  margin: auto 0;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

#nav-menu {
  position: absolute;
  width: 100px;
  color: white;
  background: #1a1a1a;
  top: 50px;
  left: 200px;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid black;
}


.nav-view-profile {
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.nav-signout {
  cursor: pointer;
}


.hidden {
  display: none;
}
