.user-profile-container {
  width: 60%;
  background-image: url("http://res.cloudinary.com/dslok1mwv/image/upload/c_scale,e_blur:275,w_888/v1495565793/Beer-HD-Background_wwirfm.jpg");
  margin: 20px auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  min-width: 573px;
}

.user-profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.user-profile-image > img {
  margin: 0 10px 10px 10px;
  width: auto;
  height: 150px;
  border-radius: 40%;
  border: 4px solid white;
  margin-right: 20px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 65%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.user-info > h1 {
  font-size: 28px;
  font-weight: bolder;
  color: white;
  margin: 40px 0;
  text-shadow: 1px 1px black;
}

.user-stats {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-size: 14px;
}

.checkin-count {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  border-right: 1px solid white;
}

.checkin-count > h3 {
  margin-right: 10px;
}

.where-you-drinking {
  display: flex;
}

.where-you-drinking > p {
  margin-right: 5px;
}

.profile-upload-button {
  background-color: black;
}
