<!DOCTYPE html>
<html>
  <head>
    <title>Uncappt</title>
    <link rel="shortcut icon" href="http://res.cloudinary.com/dslok1mwv/image/upload/v1494966562/favicon_dcmhan.ico" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
