<!DOCTYPE html>
<html>
  <head>
    <title>Uncappt</title>
    <link rel="shortcut icon" href="/assets/favicon.ico?v=2" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <video autoplay loop id="vid" poster="/assets/beer3.png">
    <source src="/assets/beer3.mp4" type="video/mp4">
    <source src="/assets/beer3.webm" type="video/webm">
  </video>

</html>
