<!DOCTYPE html>
<html>
  <head>
    <title>Uncappt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <video autoplay loop poster="polina.jpg" id="vid">
    <source src="https://ia802505.us.archive.org/1/items/Beer_Pour/Beer%20Pour%20H264.mp4" type="video/mp4">
  </video>

</html>
