<!DOCTYPE html>
<html>
  <head>
    <title>Uncappt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <video autoplay loop poster="polina.jpg" id="vid">
    <source src="assets/beer.mp4" type="video/mp4">
  </video>

</html>
